.quarto-title-block .quarto-title-banner {
  background-image: url(logo_nceas.svg),
                    url(logo_casc_hex.png),
                    linear-gradient(to right, #095197, #095197, #179FC0, #AA4342, #AA4342, #FF9A82);
  background-size: 75px, 80px, 100% 100px;
  background-position: 10%, 90%, left;
  background-repeat: no-repeat, no-repeat;
  background-origin: content-box;
  height: 100px;
}
